<!-- This page is not used right now. Might be updated later. -->

<nav class="navbar navbar-splash navbar-expand-md" style="background-color: rgb(45, 61, 138);">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left Side Of Navbar -->
            <ul class="navbar-nav mr-auto">
                <li>
                    <p class="course-title">ROAR Decal | Fall 2020</p>
                </li>
            </ul>
            <!-- Right Side Of Navbar -->
            <ul class="navbar-nav ml-auto">
                <!-- Authentication Links -->
                <li class="nav-item">
                    <a id="about" class="item-text" href="/">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="item-text" href="/policies">Staff</a>
                </li>
                <li class="nav-item">
                    <a class="item-text" href="/staff">Course Info</a>
                </li>
                <li class="nav-item">
                    <a class="item-text" href="/piazza">Resources</a>
                </li>
            </ul>
        </div>
    </div>
</nav>